
.contanier{
display: flex;
align-items: center;
justify-content: center;
margin: 100px auto;
border-radius: 10px;
width: 500px;


}

.contanier  div img{

    width: 50px;
    height: 300px;
    border-radius: 10px;
   
}

 .active{

    width: 100% !important;
    border: rgb(104, 94, 94) 2px solid !important;
    border-radius: 10px !important;
   
}




